[Desktop Entry]
Name=Resizer
GenericName=Resizer App
Comment=Image resizer
Categories=Graphics;
Exec=com.github.peteruithoven.resizer %f
Icon=com.github.peteruithoven.resizer
Terminal=false
Type=Application
NoDisplay=true
X-GNOME-Gettext-Domain=resizer
Keywords=Image;resize
