[Desktop Entry]
Name=Resizer
GenericName=Resizer App
Comment=Image resizer
Icon=application-default-icon
Categories=Graphics;
Exec=com.github.peteruithoven.resizer %f
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=resizer
Keywords=Image;resize
