[Desktop Entry]
Name=Resizer
Name[lt]=Dydžio keitiklis
GenericName=Resizer App
GenericName[lt]=Dydžio keitimo programa
Comment=Image resizer
Comment[lt]=Paveikslų dydžio keitiklis
Categories=Graphics;
Exec=com.github.peteruithoven.resizer %f
Icon=com.github.peteruithoven.resizer
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=resizer
Keywords=Image;resize;
Keywords[lt]=Paveikslas;keisti dydį;
